h1{
  color: #86A8E7;
  font-size: 20px;
}
h2{
  color: white;
  font-size: 20px;
}
h3{
  color: white;
  font-size: 30px;
  margin: 30px;
  font-weight: bold;
}
p{
  
  color: white;
  font-size: 15px;
  margin: 30px;
}

label{
  color:#86A8E7;
}
button{
  background-color: #86A8E7;
  color:white;
  padding: 10px 15px 10px 15px ;
}

.logo{
  width:250px;
}
.newParty{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content{
  display: flex;
  align-items: center;
  margin: auto;
  background-color: white;
  width:80vw;
  flex-wrap: wrap;
}
.info{
  background-color: #86A8E7;
  width:100%;
}
input{
  margin: 10px;
}
.form-event{
  display:block;
  margin:auto;
}

.newParty__fields {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  @include medium {
    display: grid;
    grid-template-columns: 175px 1fr;
    grid-gap: 5px;
    max-width: 500px;
  }

  label {
    @include medium {
      place-self: center end;
    }
  }
}