@import 'vendors/reset.scss';
@import 'config/medias.scss';
@import 'blocs/newParty.scss';
@import 'blocs/partyThing.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  padding: 1em;
  text-align: center;
	background-color: #373B44;
	font-family: Roboto;
}
.logo{
  margin-bottom: 40px;
}
@media (prefers-color-scheme: dark) {
  .day.dark-scheme   { background:  #333; color: white; }
  .night.dark-scheme { background: black; color:  #ddd; }
}

@media (prefers-color-scheme: light) {
  .day.light-scheme   { background: white; color:  #555; }
  .night.light-scheme { background:  #eee; color: black; }
}